@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
}

@media (max-width: 768px) {
  header {
    background-image: url(images/image-hero-mobile.jpg);
    background-size: 100%;
    width: 100%;
    background-position: center top;
    position: relative;
    background-repeat: no-repeat;
    overflow-x: hidden;
  }

  #hamburger-nav {
    display: flex;
    margin-top: -2rem;
  }
}
